@model List<Codecool.CodecoolShop.Models.Product>


@{
    ViewData["Viewer"] = "Single View";
}

<div class="barContainer">
    @foreach (var element in Model)
    {
        @if (element.Id == ViewBag.Id)
        {
            
            <div class="single-card"  data-id="@element.Id">
                <div class="card-attributes">
                    
                    <img src="../../img/@(element.Name).Jpg" class="mainImg" alt="AD SPACE!">
                </div>


                <div class="card-desc">
                            <h2 class="card-name">@element.Name</h2>
                    <p class="card-txt"><span> Description: </span>
                        <br>
                        <span><strong>@element.Description.</strong></span>
                    </p>
                    <p class="card-deparment"><span> Category: </span>
                        <br>
                        <span><strong>@element.ProductCategory.Department</strong></span>
                    </p>
                    <p class="card-supplier"><span>Supplier: </span> 
                        <br>
                        <span><strong>@element.Supplier.Name</strong></span>
                    </p>
                
                    <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                    <a data-id="@element.Id" class="add-to-cart-button">Buy it!</a>
                </div>
            </div>
        }
    }
</div>
<div class="bottomBar">
    @foreach (var element in Model)
    {
        @if (element.Id != ViewBag.Id)
        {
                <a href="/product/viewer/@element.Id" class="realted">
                <div class="relatedCard" data-id="@element.Id">
                <h6 class="related-title">@element.Name</h6>
                <img src="../../img/@(element.Name).Jpg" class="minImage" alt="AD SPACE!">
                <div class="pricetag"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></div>
            </div>
            </a>
        }
    }
</div>

<script src="~/js/Controller/viewerController.js" asp-append-version="true" type="module"></script>